:root {
    --color-accent: oklch(52.673% 0.11076 148.473);
}

html {
    accent-color: var(--color-accent);
}

html {
  color-scheme: light dark;
}

body {
    font: 100%/1.5 system-ui;
    max-width: min(80ch, 100% - 2rem);
    margin-inline: auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/* Contact form */

input,
textarea,
button {
    font: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: 400%;
}

/* Projects page */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

.projects article h2 {
    margin: 0;
}

.projects article img {
    width: 100%;
}

.projects article p {
    margin: 0;
}

/* Resume page */

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.resume-header h3 {
    margin: 0;
}

.date {
    white-space: nowrap;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

select {
  font: inherit;
}

.project-year {
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
  color: gray;
}

#projects-pie-plot {
  max-width: 20em;
  margin: 2em 0;
  display: block;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  padding: 1em;
  margin-block: 2em;
  border: 1px solid #ccc;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  width: 1em;
  height: 1em;
  background: var(--color);
  display: inline-block;
  border-radius: 50%;
}

#projects-pie-plot path {
  cursor: pointer;
  transition: 300ms;
}

#projects-pie-plot:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

#projects-pie-plot path.selected {
  stroke: white;
  stroke-width: 3;
}

.legend li {
  cursor: pointer;
  transition: 300ms;
}

.legend:has(li:hover) li:not(:hover) {
  opacity: 0.5;
}

.legend li.selected {
  font-weight: bold;
}

.legend li.selected .swatch {
  outline: 2px solid currentColor;
}